# Dependencies
node_modules/
vendor/

# Binaries
*.exe
*.dll
*.so
*.dylib
carrot-agent
*.env

# Build output
bin/
dist/
website/docs/.vitepress/dist/

# Test files
*.test
*.out
coverage.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
